<html>
  <head>
    {{>partial/_header}}
  </head>
  <style>
    .landingPage{
      text-align: center;
    }
  </style>
  <body class="landingPage">
    {{>partial/_navbar}}
    <h1><b>Welcome to Monthly Planner</b></h1>
    <hr/>
    <h2>What you can do with this planner</h2>

      <p>Create an Account and Login</p>
      <p>Set Goals within the current month</p>
      <p>Edit set goals</p>
      <p>Delete set goals</p>
      <p>Set Achievement for a specific goal</p>
      <p>Edit Achievement for a specific goal</p>
      <p>Delete Achievement for a specific goal</p>
    <hr/>
    <h2>Instructions</h2>
      <p><b>To Register:</b> Click on the <a href="/register">Register</a> button and fill in the form the click Register</p>
      <p><b>To Login:</b> Click on the <a href="/login">Login</a> and enter your username and password then click on Login</p>
      <hr/>
      <h3>Goal functions</h3>
      <p><b>To Set Goal:</b> After you have logged in, click on <a href="/planner">Planner</a> From the menu.Choose the day you want to set a goal for and click on Set Goal. Fill in the form and click Set Goal</p>
      <p><b>To Set Goal as Achived:</b> After you have logged in, click on <a href="/planner">Planner</a> From the menu.Choose the day and goal you want to set as achieved and click Mark Completed.</p>
      <p><b>To Delete a Goal:</b> After you have logged in, click on <a href="/planner">Planner</a> From the menu.Choose the day and goal you want to delete and click Delete Goal.</p>
      <hr/>
      <h3>Achievement functions</h3>
      <p><b>To Set Achievement:</b> After you have logged in, click on <a href="/planner">Planner</a> From the menu. Choose the day and goal you want to set an achievement for and click on Set Achievement. Fill in the form and click Set Achievement</p>
      <p><b>To Set Achievement as Achived:</b> After you have logged in, click on <a href="/planner">Planner</a> From the menu. Choose the day and achievement you want to set as achieved and click Mark Completed.</p>
      <p><b>To Delete a Achievement:</b> After you have logged in, click on <a href="/planner">Planner</a> From the menu. Choose the day and achievement you want to delete and click Delete Achievement.</p>

    <img
      src="https://www.clipartkey.com/mpngs/m/316-3168515_physical-exercise-clip-art-transparent-fitness-clipart.png"
      alt="placehonder"
      class="responsive"
      width="300"
      height="400"
    />
  </body>
  {{
    >partial/_footer
  }}
</html>
