<html>
  <head>
    {{>_header}}
  </head>
  <body>
    {{>_navbar}}
    <p>This page is under construction. Please come back soon!</p>
    <img
      src="https://www.clipartkey.com/mpngs/m/316-3168515_physical-exercise-clip-art-transparent-fitness-clipart.png"
      alt="placehonder"
      class="responsive"
      width="300"
      height="400"
    />
  </body>
  {{
    >_footer
  }}
</html>
