<html>
  <head>
    {{
      >header
    }}
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        grid-gap: 10px;
        background-color: #2196f3;
        padding: 10px;
      }

      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
      .grid-item1 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        align-content: center;
      }
      p {
        font-size: 20px;
      }
      a {
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <h1>{{ title }}</h1>

    <br />
    <div class="grid-container">
      <div class="grid-item1">week 1</div>
      <div class="grid-item">
        <div>Monday</div>
        <hr />
        <p><b>Goal: </b>20 x squats</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Tuesday</div>
        <hr />
        <p><b>Goal: </b> 4 x dumbell press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Wenesday</div>
        <hr />
        <p><b>Goal: </b> 4 x dumbell press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>thursday</div>
        <hr />
        <p><b>Goal: </b> 3 x shoulder press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Friday</div>
        <hr />
        <p><b>Goal: </b> 5 x leg press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Saturday</div>
        <hr />
        <p><b>Goal: </b> 30 x crunches</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Sunday</div>
        <hr />
        <p><b>Goal: </b> 4 x bench press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-item1">week 2</div>
      <div class="grid-item">
        <div>Monday</div>
        <hr />
        <p><b>Goal: </b>20 x squats</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Tuesday</div>
        <hr />
        <p><b>Goal: </b> 4 x dumbell press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Wenesday</div>
        <hr />
        <p><b>Goal: </b> 4 x dumbell press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>thursday</div>
        <hr />
        <p><b>Goal: </b> 3 x shoulder press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Friday</div>
        <hr />
        <p><b>Goal: </b> 5 x leg press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Saturday</div>
        <hr />
        <p><b>Goal: </b> 30 x crunches</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
      <div class="grid-item">
        <div>Sunday</div>
        <hr />
        <p><b>Goal: </b> 4 x bench press</p>
        <hr />
        <a>[Actual achievement]</a>
      </div>
    </div>
  </body>
</html>
