<html>
  <head>
    {{
      >_header
    }}
    <style>
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        grid-gap: 10px;
        background-color: #2196f3;
        padding: 10px;
      }

      .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
      }
      .grid-item1 {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        padding: 20px;
        font-size: 30px;
        text-align: center;
        align-content: center;
      }
      p {
        font-size: 20px;
      }
      .plannerBody {
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    {{>_navbar}}
    <h1>
      {{ title }} for 
    </h1>
    <h2>Today is {{ today }}</h2>
    <br />

    <div class="grid-container">
      {{#exercises}}
      <div class="grid-item">
        <div id="day" value="{{ name }}">{{ date }} {{ name }}</div>
        <hr />
        <p><b>Goal: </b>{{ goal }}</p>
        <div class="form-group">
          <div>
            <a href="/new/{{ name }}/{{_id}}" class="btn btn-primary">Set Goal</a>
          </div>
        </div>
        <hr />
        <p class="plannerBody">Achievement: {{achievement}} </p>
        <div class="form-group">
          <input type="submit" value="Set Result" class="btn btn-primary" />
        </div>
      </div>
      {{/exercises}}
    </div>
    <hr/>
  </body>
  
  {{
    >_footer
  }}
</html>
