<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initialscale=1" />
<title>{{ Planner }}</title>
<!--
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>-->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
  #nav li a.current {
    font-weight: 900;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #337ab7;
    color: white;
    text-align: center;
  }
  .footerBody {
    font-size: 15px;
  }
  .responsive {
    width: 100%;
    height: auto;
  }
</style>
