<nav class="navbar navbar-default" id="nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Planner</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/planner" {{{ PlannerNav }}}>My Planner</a></li>
      <li><a href="/" {{{ Home }}}>Home</a></li>
      <li><a href="/notAchieved" {{{ notAchieved }}}>Not Achieved</a></li>
    </ul>
    <div class="text-right" style="margin-bottom: 1em">
      {{^user}}
      <a id="register" href="register" class="btn btn-primary"> Register </a>
      <a id="login" href="login" class="btn btn-primary"> Sign in </a>
      {{/user}}
      {{#user}}
      <a id="logout" href="logout" class="btn btn-primary"> Sign out </a>
      {{/user}}
    </div>
  </div>
</nav>